@page "/UserArea/Balance"

@rendermode InteractiveServer

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IBalancesService BalancesService

<section>
    @if (!BalanceModel.Any())
    {
        <DatePicker Title="Баланс" LabelPart="баланса си" ShowDataCallback="ShowBalance"></DatePicker>
    }
    else
    {
        <div class="balance-table-container">
            <h2 class="bg-abvmiddlegreen"> Баланс към дата @Date.ToString(ShortConstants.Common.DateTimeParseFormat) </h2>
            <hr />

            <Grid @ref="grid"
                  TItem="BalanceViewModel"
                  Class="table table-hover table-bordered table-striped text-nowrap balance-table"
                  HeaderRowCssClass="bg-abvmiddlegreen !important"
                  DataProvider="BalanceDataProvider"
                  Unit="Unit.Px">
                <GridColumns>
                    <GridColumn TItem="BalanceViewModel" HeaderText="Валута" PropertyName="CurrencyCode">
                        @context.CurrencyCode
                    </GridColumn>
                    <GridColumn TItem="BalanceViewModel" HeaderText="Пари в брой" PropertyName="Cash">
                        @context.Cash
                    </GridColumn>
                    <GridColumn TItem="BalanceViewModel" HeaderText="Стойност на придобиване на ценните книжа" PropertyName="AllSecuritiesTotalPriceBuy">
                        @context.AllSecuritiesTotalPriceBuy
                    </GridColumn>
                    <GridColumn TItem="BalanceViewModel" HeaderText="Пазарна стойност на ценните книжа" PropertyName="AllSecuritiesTotalMarketPrice">
                        @context.AllSecuritiesTotalMarketPrice
                    </GridColumn>
                    <GridColumn TItem="BalanceViewModel" HeaderText="Обща доходност" PropertyName="VirtualProfit">
                        @context.VirtualProfit
                    </GridColumn>
                    <GridColumn TItem="BalanceViewModel" HeaderText="Обща доходност(%)" PropertyName="VirtualProfitPercentage%">
                        @context.VirtualProfitPercentage%
                    </GridColumn>
                </GridColumns>
            </Grid>
        </div>
    }

    <div class="container">
        <div class="status-message">
            <StatusDisplayMessage DisplayMessages="@ErrorMessages" Success="@Success" />
        </div>
    </div>

    <BackToPageLink />
</section>

@code {
    private IEnumerable<string>? ErrorMessages;
    private bool Success;

    private DateOnly Date;

    BlazorBootstrap.Grid<BalanceViewModel> grid = default!;
    private IEnumerable<BalanceViewModel> BalanceModel = new List<BalanceViewModel>();

    private async Task ShowBalance(DateOnly date)
    {
        if (date != default)
        {
            Date = date;
            var authenticationState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            var balance = await BalancesService.GetUserDailyBalanceAsync<BalanceViewModel>(authenticationState.User, date);
            if (balance is not null)
            {
                BalanceModel = [balance];
                ErrorMessages = [];
            }
            else
            {
                Success = false;
                ErrorMessages = [string.Format(Messages.Common.NoBalance, DateTime.UtcNow.ToString(ShortConstants.Common.DateTimeParseFormat))];
            }
        }
    }

    private async Task<GridDataProviderResult<BalanceViewModel>> BalanceDataProvider(GridDataProviderRequest<BalanceViewModel> request)
    {
        return await Task.FromResult(request.ApplyTo(BalanceModel));
    }
}

