@page "/UserArea/Portfolio"

@rendermode InteractiveServer

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IPortfoliosService PortfoliosService

<section>
    @if (!PortfolioModels.Any())
    {
        <div class="container">
            <h2 class="bg-abvmiddlegreen"> Портфолио </h2>
            <hr />
            <EditForm Model="Input" method="post" OnValidSubmit="ShowPortfolio" FormName="portfolioForm">
                <DataAnnotationsValidator />
                <ValidationSummary class="text-danger" role="alert" />
                <div class="form-group">
                    <div class="col-md-5 mb-3">
                        <label class="col-form-label"> За да да получите информация за портфолиото си, моля изберете дата след @ShortConstants.Common.MinDate.ToString(ShortConstants.Common.DateTimeParseFormat) и не по-късна от @ShortConstants.Common.MaxDate.ToString(ShortConstants.Common.DateTimeParseFormat): </label>
                    </div>
                    <div class="col-md-2 mb-3">
                        <DateInput class="form-control" TValue="DateOnly?" @bind-Value="Input.Date" EnableMinMax="true" Min="@ShortConstants.Common.MinDate" Max="@ShortConstants.Common.MaxDate" Placeholder="Изберете дата" />
                        <ValidationMessage For="() => Input.Date" class="text-danger" />
                    </div>
                    <Button Type="ButtonType.Submit" Class="button-top-margin bg-bg-abvlightgreen bg-abvdarkgreen large-fontsize"> Избери </Button>
                </div>
            </EditForm>
        </div>
    }
    else
    {
        <div class="portfolio-table-container">
            <h2 class="bg-abvmiddlegreen"> Списък с ценни книжа към дата @PortfolioModels.First().DailySecuritiesPerClientDate </h2>
            <hr />

            <Grid @ref="grid"
                  TItem="PortfolioViewModel"
                  Class="table table-hover table-bordered table-striped text-nowrap portfolio-table"
                  HeaderRowCssClass="bg-abvmiddlegreen !important"
                  DataProvider="PortfolioDataProvider"
                  FixedHeader="true"
                  Height="600"
                  Responsive="true"
                  Unit="Unit.Px">

                <GridColumns>
                    <GridColumn TItem="PortfolioViewModel" HeaderText="Емитент" PropertyName="SecurityIssuerName">
                        @context.SecurityIssuerName
                    </GridColumn>
                    <GridColumn TItem="PortfolioViewModel" HeaderText="БФБ Код" PropertyName="SecurityBfbCode">
                        @context.SecurityBfbCode
                    </GridColumn>
                    <GridColumn TItem="PortfolioViewModel" HeaderText="ISIN" PropertyName="SecurityIsin">
                        @context.SecurityIsin
                    </GridColumn>
                    <GridColumn TItem="PortfolioViewModel" HeaderText="Наличност" PropertyName="Quantity">
                        @context.Quantity
                    </GridColumn>
                    <GridColumn TItem="PortfolioViewModel" HeaderText="Валута" PropertyName="CurrencyCode">
                        @context.CurrencyCode
                    </GridColumn>
                    <GridColumn TItem="PortfolioViewModel" HeaderText="Средна цена" PropertyName="AveragePriceBuy">
                        @context.AveragePriceBuy
                    </GridColumn>
                    <GridColumn TItem="PortfolioViewModel" HeaderText="Стойност на придобиване" PropertyName="TotalPriceBuy">
                        @context.TotalPriceBuy
                    </GridColumn>
                    <GridColumn TItem="PortfolioViewModel" HeaderText="Пазарна цена" PropertyName="MarketPrice">
                        @context.MarketPrice
                    </GridColumn>
                    <GridColumn TItem="PortfolioViewModel" HeaderText="Пазарна стойност" PropertyName="TotalMarketPrice">
                        @context.TotalMarketPrice
                    </GridColumn>
                    <GridColumn TItem="PortfolioViewModel" HeaderText="Доходност" PropertyName="ProfitPercentage"
                                ColumnClass="@(x => x.Profit >= 0 ? "profit-positive" : "profit-negative")">
                        @context.ProfitPercentage
                    </GridColumn>
                    <GridColumn TItem="PortfolioViewModel" HeaderText="Доходност (%)" PropertyName="ProfitPercentage"
                                ColumnClass="@(x => x.Profit >= 0 ? "profit-positive" : "profit-negative")">
                        @context.ProfitPercentage
                    </GridColumn>
                    <GridColumn TItem="PortfolioViewModel" HeaderText="Тегло в портфейла (%)" PropertyName="PortfolioShare">
                        @context.PortfolioShare
                    </GridColumn>
                </GridColumns>
            </Grid>
        </div>
    }

    <div class="status-message">
        <StatusDisplayMessage DisplayMessages="@ErrorMessages" Success="@Success" />
    </div>

    <BackToPage />
</section>

@code {
    private IEnumerable<string>? ErrorMessages;
    private bool Success;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    BlazorBootstrap.Grid<PortfolioViewModel> grid = default!;
    private IEnumerable<PortfolioViewModel> PortfolioModels = new List<PortfolioViewModel>();

    private async Task ShowPortfolio()
    {
        if (Input.Date is not null)
        {
            var authenticationState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            var portfolio = await PortfoliosService.GetUserDailyPortfolioAsync<PortfolioViewModel>(authenticationState.User, Input.Date.Value);
            if (portfolio != null && portfolio.Count() > 0)
            {
                PortfolioModels = portfolio!;
                ErrorMessages = [];
            }
            else
            {
                Success = false;
                ErrorMessages = [Messages.DealsAndPortfolios.NoPortfolio];
            }
        }
    }

    private async Task<GridDataProviderResult<PortfolioViewModel>> PortfolioDataProvider(GridDataProviderRequest<PortfolioViewModel> request)
    {
        return await Task.FromResult(request.ApplyTo(PortfolioModels));
    }

    private sealed class InputModel
    {
        [DataType(DataType.Date)]
        public DateOnly? Date;
    }
}
